    #root {

    }

#welcome-banner {
    display: block;
    height:30vh;
    width: auto;
    /* position: relative; */
    text-align: center;    
}


#login-container, .form-field {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 42vw;
    height: 25vh;
    padding: 12px;
}

.form-field{
    flex-direction: column;
    top:50%;
}

#welcome-button-box, #loginbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#login-text{
    width: 300px;
    position: relative;
}

#login-button, #signin-button, .submit-button{
    position: relative;
    width: 25vw;
    left: 20%;
}

.comment-component, #post-component{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
}
